/* CSS html et body */

html {
    height: 100%
}


body {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    min-height: 100%;
    position: relative;
}

/* CSS navbar */
nav {
    width: 100%;
    height: 50px;
    background-color: black;
    top: 0;
    position: fixed;
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

.top-logo {
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 15%;
    flex: 2;


}

.link1 {
    margin-bottom: auto;
    margin-top: auto;
    flex: 1;
}

.link2 {
    margin-bottom: auto;
    margin-top: auto;
    flex: 1;
}

/* jumbotron */

#home {
    background-image: url("../images/hero-image.jpg");
    min-height: 580px;
    max-width: 100%;
    text-align: center;
    color: white;
    padding: 30px;
    margin-top: auto;
    margin-bottom: auto;
}


#home h1 {
    font-family: 'Arvo', courier, serif;
    font-size: 60px;
}

#home p {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 20px;
}

#home button {
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 4px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 30px;
    padding: 10px;
}

#home .fa{
    font-size: 30px;
}

img.code {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

@media screen and (max-width:767px){
    #home h1{
        font-size: 14px;
    }
}

@media screen and (max-width:767px){
    #home p{
        font-size: 10px;
    }
}


/*who */
#who {
    min-height: 380px;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}


#who h1 {
    font-family: 'Arvo', courier, serif;
    font-size: 30px;
    color: #d9534f
}

#who hr {
    align-content: center;
    width: 8%;
    height: 1.5px;
    background-color: #d9534f;
    border: none;
}

#who p {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 20px;
}


/*get-involved*/
#get-involved {
    min-height: 490px;
    width: 100%;
    margin: auto;
    padding-top: 30px;
    text-align: center;
    background-color: #f5f5f5;
}

#get-involved h1 {
    font-family: 'Arvo', courier, serif;
    font-size: 30px;
    color: #d9534f;
}

#get-involved hr {
    align-content: center;
    width: 8%;
    height: 1px;
    background-color: #d9534f;
    border: none;
}

#cercle {
    background: #000000;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.fa{
   
    line-height: 1.5em;
    font-size: 4em;
    color: white;
}
.box {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.box h2 {
    font-family: 'Arvo', courier, serif;
    font-size: 25px;
    color: #d9534f;
}

.box p {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 20px;
}

.box button {
    background-color: #ffffff;
    color: #d9534f;
    border-color: #CECECECE;
    border-radius: 4px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 12px;
    padding: 5px;
}

#get-involved .fa-angle-double-right{
        font-size: 30px;
        color:#d9534f;
        font-size: 12px;
    }


/* footer */

footer{
    background-color: #d9534f;
    min-height: 200px;
    width: 100%;
}

img.bottom-brand{
    margin-top: 6%;
    margin-left: 17%;
}


/* back to top */

#back-to-top{
    position: fixed;
    bottom: 3%;
    right: 2%;
}

.fa-chevron-circle-up{
    color:black;
}
